body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
}

.navbar-brand small {
  font-size: 11px;
  display: block;
  line-height: 1.2;
}

.nav-link {
  font-weight: 500;
}

header.bg-primary {
  background: linear-gradient(to right, #0056b3, #007bff);
}

footer {
  font-size: 14px;
}

section h4 {
  font-weight: bold;
}

